.conf-sponsor-wrapper {
  background-color: #1b1b1b;
  padding: 2% 5%;
  position: relative;
  font-family: "Roboto", sans-serif;

  .title {
    font-family: "Robot", sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    letter-spacing: 0.03em;
    background: hsla(186, 33%, 94%, 1);
    background: linear-gradient(
      45deg,
      hsla(186, 33%, 94%, 1) 0%,
      hsla(216, 41%, 79%, 1) 100%
    );
    background: -moz-linear-gradient(
      45deg,
      hsla(186, 33%, 94%, 1) 0%,
      hsla(216, 41%, 79%, 1) 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      hsla(186, 33%, 94%, 1) 0%,
      hsla(216, 41%, 79%, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .sponsors-container {
    margin: 1.5rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;

    .sponsor {
      z-index: 1;
      margin: 0.5rem 0;
    }
    .sponsor:first-child {
      img {
        height: 130px;
      }
    }

    .sponsor:last-child {
      background: hsla(186, 33%, 94%, 1);
      padding: 0.2rem;
    }
  }
}

@media all and (max-width: 768px) {
  .conf-sponsor-wrapper {
    padding: 5%;

    .sponsor:first-child {
      &.iee-logo {
        img {
            height: 100px;
        }
      }
    }
  }
}
