.about-previos-section {
  .badge-wrapper {
    display: flex;
    justify-content: center;

    .badge-previous-conf-mob-otcon {
      margin-right: 1rem;
    }

    .badge-previous-conf-mob-otcon,
    .badge-previous-conf-mob-eti {
      font-size: 1.1rem;
      width: max-content;
      background-color: #fff;
      padding: 0.3rem 1rem;
      border-radius: 50px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        height: 20px;
        margin-left: 0.2rem;
        rotate: -20deg;
      }
    }
  }
}
