.title {
  padding: 2rem 0;
  position: relative;
  text-align: center;
  letter-spacing: 0.05em;
  font-size: 2rem;
  font-weight: 700;
  background: rgb(247, 247, 247);
  background: linear-gradient(
    45deg,
    hsla(186, 33%, 94%, 1) 0%,
    rgb(221, 230, 241) 100%
  );
  background: -moz-linear-gradient(
    45deg,
    hsla(186, 33%, 94%, 1) 0%,
    hsla(216, 41%, 79%, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    hsla(186, 33%, 94%, 1) 0%,
    hsla(216, 41%, 79%, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@media all and (max-width: 1217px)  {
  .title {
    font-size: 1.5rem;
  }
}