.footer {
  background-color: #1b1b1b;
  padding: 2% 5%;
  position: relative;
  background-color: #222222;
  p {
    font-family: "Roboto", sans-serif;
    text-align: center;
    background: hsla(186, 33%, 94%, 1);
    background: linear-gradient(
      45deg,
      hsla(186, 33%, 94%, 1) 0%,
      hsla(216, 41%, 79%, 1) 100%
    );
    background: -moz-linear-gradient(
      45deg,
      hsla(186, 33%, 94%, 1) 0%,
      hsla(216, 41%, 79%, 1) 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      hsla(186, 33%, 94%, 1) 0%,
      hsla(216, 41%, 79%, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
